<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Contact Editor
	        </div>
        </div>
		<br/>
		<h:form id="MyForm1">
			<table class="table table-sm table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactId" >#{conInternationalController.contact.contactId}</h:outputLabel>
                    </td>			
				</tr>
				
				<tr>
					<td width ="150" valign="top">First Name:</td>
                    <td valign="bottom">
                        <h:inputText id = "contactFirstName" 
                        value="#{conInternationalController.contact.firstName}" 
                        binding="#{contactFirstName}" required="true"
                        validatorMessage="Please enter a valid First Name."
                        requiredMessage="Please enter an first Name. "
                        pt:placeholder="First Name">
                        </h:inputText>
                        <br/>
                        <h:message for="contactFirstName" 
                        class="#{!contactFirstName.valid ? 'label label-warning' : 'none'}"
                        style="color: red;font-family: 'New Century Schoolbook', serif;" />
                        
                    </td>			
				</tr>
				
				<tr>
					<td width ="150" valign="top">Last Name:</td>
                    <td valign="bottom">                        
                        <h:inputText id = "contactLastName" 
                        value="#{conInternationalController.contact.lastName}" 
                        binding="#{contactLastName}" required="true"
                        validatorMessage="Please enter a valid Last Name."
                        requiredMessage="Please enter an last Name. "
                        pt:placeholder="Last Name">
                        </h:inputText>
                        <br/>
                        <h:message for="contactLastName" 
                        class="#{!contactLastName.valid ? 'label label-warning' : 'none'}"
                        style="color: red;font-family: 'New Century Schoolbook', serif;" />
                        
                    </td>			
				</tr>
				
				<tr>
                    <td width ="150" valign="top">Position: </td>
                    <td valign="bottom">
                        <h:inputText id = "position" 
                        value="#{conInternationalController.contact.position}" 
                        binding="#{position}" required="true"
                        validatorMessage="Please enter a valid position name."
                        requiredMessage="Please enter an position name."
                        pt:placeholder="Manager">
                        </h:inputText>
                        <br/>
	                    <h:message for="position" 
	                    class="#{!position.valid ? 'label label-warning' : 'none'}"
	                    style="color: red;font-family: 'New Century Schoolbook', serif;" />
                    </td>
                    
                </tr>
                
                <tr>
                    <td width ="150" valign="top">Email: </td>
                    <td valign="bottom">
                        <h:inputText id = "email" 
                        value="#{conInternationalController.contact.email}" 
                        binding="#{email}" required="true"
	                    validatorMessage="Please enter a valid email address."
	                    requiredMessage="Please enter an email address. "
	                    pt:placeholer="abc@example.com">
	                    	<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
	                    	<!-- https://stackoverflow.com/questions/7875108/email-validation-using-regular-expression-in-jsf-2-primefaces -->
	                    </h:inputText>
	                    <br/>
	                    <h:message for="email" 
	                    class="#{!email.valid ? 'label label-warning' : 'none'}"
	                    style="color: red;font-family: 'New Century Schoolbook', serif;" />
                    </td>                    
                </tr>
                
                
                <tr>
                    <td width ="150" valign="top">Phone No: </td>
                    <td valign="bottom">
                        <h:inputText id = "phoneNo" 
                        value="#{conInternationalController.contact.phoneNo}" 
                        binding="#{phoneNo}" required="true"
						validatorMessage="Please enter a valid phoneNo."
						requiredMessage="Please enter an phoneNo. "
						converterMessage="Please enter a number"
						pt:placeholder="1234567890">
	                    	<f:convertNumber integerOnly="true" groupingUsed="false"/>
	                    </h:inputText>
	                   
	                    <br/>
	                    <h:message for="phoneNo" 
	                    class="#{!phoneNo.valid ? 'label label-warning' : 'none'}"
	                    style="color: red;font-family: 'New Century Schoolbook', serif;" />
                    </td>                    
                </tr>
                
                <tr>
                    <td width ="150" valign="top">Preference: </td>
                    <td valign="bottom">                    	
                        <h:selectOneMenu id="preference" value="#{conInternationalController.contact.preference}" 
                        required="true" requiredMessage="Please select an option.">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" /> <!-- noSelectionOption="true" -->
                                <f:selectItem itemValue="ContactByEmail" itemLabel="ContactByEmail" />
                                <f:selectItem itemValue="ContactByPhone" itemLabel="ContactByPhone" />
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="preference" class="#{!preference.valid ? 'label label-warning' : 'none'}"
                        style="color: red;font-family: 'New Century Schoolbook', serif;"/>
                    </td>
                </tr>
                
                <tr>
					<td width ="150" valign="top">Contact Type:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "type" >International</h:outputLabel>
                    </td>			
				</tr>
				
				<tr>
                    <td width ="150" valign="top">Country: </td>
                    <td valign="bottom">
                    	<h:selectOneMenu id="country" value="#{conInternationalController.contact.country}" 
                    	required="true"	requiredMessage="Please select a country.">
			                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
			                <f:selectItems value="#{webServiceBean.getCountryArray()}" var="c"
			                                itemLabel="#{c}" itemValue="#{c}" />
			            </h:selectOneMenu>
                        <br/>
	                    <h:message for="country" 
	                    class="#{!country.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red;font-family: 'New Century Schoolbook', serif;"/>
	                    You can modify country list by clicking "Modify Country List" button in Contact page.
                    </td>
                    
                </tr>
                
                <tr>
					<td width ="150" valign="top">Employed by:</td>
                    <td valign="bottom">
                        <h:selectOneMenu id="customer" value="#{conInternationalController.contact.customer.customerId}" 
                        required="true" requiredMessage="Please select an option.">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{customerApplication.getCustomers()}"
										var="c" itemLabel="#{c.customerName}" itemValue="#{c.customerId}" />
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="customer" class="#{!customer.valid ? 'label label-warning' : 'none'}"
                        style="color: red;font-family: 'New Century Schoolbook', serif;"/>
                    </td>			
				</tr>
				
			</table>
					
			
			
			<p>If all inputs are valid, it will redirect to "Contact List" page once clicking "Save" button.</p>
			
			<h:commandButton id="save" value="Save and Close" actionListener="#{contactManagedBean.editConInternational(conInternationalController.contact)}"
			action="contactlist?faces-redirect=true" onclick="this.disabled = true;"  
			class="btn btn-info" >
                <f:param name="contactID" value="#{contactController.contactID+1}" />
            </h:commandButton>

			<h:link id="close" value="Close" outcome="contactlist.xhtml" class="btn btn-info" style="float:right"/>
			
			<br/>
			<br/>
			<!-- https://stackoverflow.com/questions/5288267/how-to-add-a-message-to-a-specific-component-from-jsf-backing-bean -->
			<h:outputText id="test" binding="#{contactManagedBean.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
			
			
		</h:form>
	
	
	
	</div>
</body> 
</html>

