<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
	        <div class="navbar-brand">
				#{customerApplication.username} - Contact Detail
	        </div>
        </div>
		
		<h:form id="MyForm1">
			<table class="table table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactId" >#{contactController.contact.contactId}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">First Name:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactFirstName" >#{contactController.contact.firstName}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Last Name:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactLastName" >#{contactController.contact.lastName}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Position:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "position" >#{contactController.contact.position}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Email:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "email" >#{contactController.contact.email}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Phone No:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "phoneNo" >#{contactController.contact.phoneNo}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Preference:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "preference" >#{contactController.contact.preference}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Contact Type:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "preference" >#{contactController.contact.contactType}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">State:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "state" >#{contactController.contact.contactType}</h:outputLabel>
                    </td>			
				</tr>
				
			</table>
			
			<p>Employed by:</p>
			
			<table class="table table-bordered ">
				<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="Name" value="Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Address" value="Address"/>
                    </td>

        		</tr>
        	
				<!-- table content -->
 				<tr>
                    <td>
                        <h:outputText id="customerID" value="#{contactController.contact.customer.customerId}"/>
                    </td>
                    <td>
                        <h:outputText id="outName" value="#{contactController.contact.customer.customerName}"  />
                    </td>
                    <td>
                        <h:outputText id="outAddress" value="#{contactController.contact.customer.address}"/>
                    </td>
				</tr>
			</table>	
			
			
			
			<h:link id="close" value="Close" outcome="contactlist.xhtml" class="btn btn-primary" />
		
		</h:form>
	
		
	
	</div>
</body> 
</html>
