<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
	        <div class="navbar-brand">
				#{customerApplication.username} - Add Contact
	        </div>
        </div>
		
		<h:form id="MyForm1">
			<table class="table table-bordered ">
				
				<tr>
					<td width ="150" valign="top">First Name:</td>
                    <td valign="bottom">
                        <h:inputText id = "contactFirstName" 
                        value="#{contactBean.firstName}" 
                        title="contactFirstName" 
                        pt:placeholder="First Name">
                        </h:inputText>
                        <br/>
                        <h:message for="contactFirstName" 
                        class="#{!contactFirstName.valid ? 'label label-warning' : 'none'}" />
                        
                    </td>			
				</tr>
				
				<tr>
					<td width ="150" valign="top">Last Name:</td>
                    <td valign="bottom">
                                            
                        <h:inputText id = "contactLastName" 
                        value="#{contactBean.lastName}" 
                        title="contactLastName"
                        pt:placeholder="Last Name">
                        </h:inputText>
                        <br/>
                        <h:message for="contactLastName" 
                        class="#{!contactLastName.valid ? 'label label-warning' : 'none'}" />
                        
                    </td>			
				</tr>
				
				<tr>
                    <td width ="150" valign="top">Position: </td>
                    <td valign="bottom">
                        <h:inputText id = "position" 
                        value="#{contactBean.position}" 
                        title="position"
                        pt:placeholder="Manager">
                        </h:inputText>
                        <br/>
	                    <h:message for="position" 
	                    class="#{!position.valid ? 'label label-warning' : 'none'}" />
                    </td>
                    
                </tr>
                
                <tr>
                    <td width ="150" valign="top">Email: </td>
                    <td valign="bottom">
                        <h:inputText id = "email" 
                        value="#{contactBean.email}" 
                        title="email"
	                    pt:placeholer="abc@example.com">
	                    </h:inputText>
	                    <br/>
	                    <h:message for="email" 
	                    class="#{!email.valid ? 'label label-warning' : 'none'}" />
                    </td>                    
                </tr>
                
                <tr>
                    <td width ="150" valign="top">Phone No: </td>
                    <td valign="bottom">
                        <h:inputText id = "phoneNo" 
                        value="#{contactBean.phoneNo}"
                        pt:placeholder="1234567890">
	                    </h:inputText>
	                   
	                    <br/>
	                    <h:message for="phoneNo" 
	                    class="#{!phoneNo.valid ? 'label label-warning' : 'none'}" />
                    </td>                    
                </tr>
                
                <tr>
                    <td width ="150" valign="top">Preference: </td>
                    <td valign="bottom">
                        <h:selectOneMenu id="preference" value="#{contactBean.preference}" 
                        >
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItem itemValue="ContactByEmail" itemLabel="ContactByEmail" />
                                <f:selectItem itemValue="ContactByPhone" itemLabel="ContactByPhone" />
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="preference" class="#{!preference.valid ? 'label label-warning' : 'none'}"/>
                    </td>
                </tr>
                
                
                <tr>
					<td width ="150" valign="top">Employed by:</td>
                    <td valign="bottom">
                        <h:selectOneMenu id="customer" value="#{contactBean.customerId}" 
                        >
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{customerManagedBean.allCustomers}"
										var="c" itemLabel="#{c.customerName}" itemValue="#{c.customerId}" />
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="customer" class="#{!customer.valid ? 'label label-warning' : 'none'}"/>
                    </td>			
				</tr>
				
			</table>

			<p>If all inputs are valid, it will redirect to "Contact List" page once clicking "Submit" button.</p>
			
			<h:commandButton id="submit" value="Submit and Close"
			actionListener="#{contactAdd.contactAdd(contactBean)}"
			action="contactlist?faces-redirect=true"
			class="btn btn-primary" />
  
			<h:link id="close" value="Close" 
			outcome="contactlist.xhtml" class="btn btn-primary" style="float:right"/>
			
			<br/>
			<br/>
        	<h:outputText id="test" binding="#{contactAdd.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>

		</h:form>
	
	
	
	</div>
</body> 
</html>
