<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
    <script src="js/script.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</h:head> 
<body> 
	<div class="container">
		<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
		    <a class="navbar-brand" href="#">
		    	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
		      	#{customerApplication.username} - Contact  List</a>
		    <div class="navbar-nav-scroll">
			   <ul class="navbar-nav bd-navbar-nav flex-row">
			      <li class="nav-item"><a class="nav-link" href="customerlist.xhtml">Customer  &nbsp; &nbsp;</a></li>
			      <li class="nav-item active"><a class="nav-link" href="#">Contact  &nbsp; &nbsp;</a></li>
			      <li class="nav-item"><a class="nav-link" href="stafflist.xhtml">User  </a></li>
			    </ul>
			</div>
			<a href="${pageContext.request.contextPath}/Assignment-war/logout" 
			class="btn btn-outline-light btn-sm my-2 my-sm-0"
			onclick="if (!confirm('Are you sure to log out?')) return false;">
			Logout</a>  
		</div>
		
		<br/>
        
        <h:form id="MyForm1">
        
        	<!-- FOR CON-DOMESTIC -->
        	<p>Domestic Contacts: </p>
        	
        	<table class="table table-sm table-bordered table-striped">
        		<!-- For each contact in ArrayList... -->
        		<!-- column name -->
        		<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="FirstName" value="First Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="LastName" value="Last Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Email" value="Email"/>
                    </td>
                    <td>
                        <h:outputLabel id="PhoneNo" value="PhoneNo"/>
                    </td>
                    <td>
                        <h:outputLabel id="State" value="State"/>
                    </td>
                    <td>
                        <h:outputLabel id="Option" value="Option"/>
                    </td>

        		</tr>
        	
				<!-- table content -->
        		<ui:repeat id="Myrepeat" value="#{contactApplication.conDomestics}"  var="contact" varStatus="status">

	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                    <td>
	                        <h:outputText id="contactID" value="#{contactApplication.conDomestics.get(status.index).contactId}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outFirstName" value="#{contactApplication.conDomestics.get(status.index).firstName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outLastName" value="#{contactApplication.conDomestics.get(status.index).lastName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outEmail" value="#{contactApplication.conDomestics.get(status.index).email}"/>
	                    </td>	                    
	                    <td>
	                        <h:outputText id="outPhoneNo" value="#{contactApplication.conDomestics.get(status.index).phoneNo}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outState" value="#{contactApplication.conDomestics.get(status.index).state}"/>
	                    </td>

						<!-- FUNCTION FOR EACH CONTACT -->
	                    <td>
	                        <h:link value="View" class="btn btn-outline-info btn-sm" outcome="condomesticdetail.xhtml">
	                        <!-- pass the parameter to next page, the param name is contactID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="contactID" value="#{status.index + 1}"/>
	                        </h:link>
							&nbsp;
	                        <h:link value="Edit" class="btn btn-outline-info btn-sm" outcome="condomesticedit.xhtml">
	                        <!-- pass the parameter to next page, the param name is contactID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="contactID" value="#{status.index + 1}"/>
	                        </h:link>
	                        &nbsp;
	                        <h:commandLink value="Delete" class="btn btn-outline-danger btn-sm"
	                        action="#{contactRemove.conDomesticRemove(contactApplication.conDomestics.get(status.index).contactId)}" 
	                        onclick="if (!confirm('Are you sure to delete it?')) return false;"
	                        >
                            </h:commandLink>
	                        
	                        <h:outputText value=" "/>
	                    </td>
	
	                </tr>

                </ui:repeat>
        	
        	</table>
        	
        </h:form>
        	
       	<h:form id="MyForm2">
       	
        	<!-- FOR CON-INTERNATIONAL -->
        	
        	<p>International Contacts: </p>
        	
        	<table class="table table-sm table-bordered table-striped">
        		<!-- For each contact in ArrayList... -->
        		<!-- column name -->
        		<tr>
        			<td>
                        <h:outputLabel id="Id2" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="FirstName2" value="First Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="LastName2" value="Last Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Email2" value="Email"/>
                    </td>
                    <td>
                        <h:outputLabel id="PhoneNo2" value="PhoneNo"/>
                    </td>
                    <td>
                        <h:outputLabel id="Country" value="Country"/>
                    </td>
                    <td>
                        <h:outputLabel id="Option2" value="Option"/>
                    </td>

        		</tr>
        	
				<!-- table content -->
        		<ui:repeat id="Myrepeat" value="#{contactApplication.conInternationals}"  var="contact" varStatus="status">

	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                    <td>
	                        <h:outputText id="contactID2" value="#{contactApplication.conInternationals.get(status.index).contactId}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outFirstName2" value="#{contactApplication.conInternationals.get(status.index).firstName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outLastName2" value="#{contactApplication.conInternationals.get(status.index).lastName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outEmail2" value="#{contactApplication.conInternationals.get(status.index).email}"/>
	                    </td>	                    
	                    <td>
	                        <h:outputText id="outPhoneNo2" value="#{contactApplication.conInternationals.get(status.index).phoneNo}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outCountry" value="#{contactApplication.conInternationals.get(status.index).country}"/>
	                    </td>

						<!-- FUNCTION FOR EACH CONTACT -->
	                    <td>
	                        <h:link value="View" outcome="coninternationaldetail.xhtml" class="btn btn-outline-info btn-sm">
	                        <!-- pass the parameter to next page, the param name is contactID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="contactID" value="#{status.index + 1}"/>
	                        </h:link>
							&nbsp;
	                        <h:link value="Edit" outcome="coninternationaledit.xhtml" class="btn btn-outline-info btn-sm">
	                        <!-- pass the parameter to next page, the param name is contactID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="contactID" value="#{status.index + 1}"/>
	                        </h:link>
	                        &nbsp;
	                        <h:commandLink value="Delete" class="btn btn-outline-danger btn-sm"
	                        action="#{contactRemove.conInternationalRemove(contactApplication.conInternationals.get(status.index).contactId)}" 
	                        disabled="#{contactApplication.conInternationals.get(status.index).contactId == null}"
	                        onclick="if (!confirm('Are you sure to delete it?')) return false;">
                            </h:commandLink>
	                        
	                        <h:outputText value=" "/>
	                    </td>
	
	                </tr>

                </ui:repeat>
        	
        	</table>
        	
        	

        	<!-- GENERAL FUNCTION : add / search /...... -->
        	<div>

				<h:commandButton id="addDomestic" value="Add Domestic Contact" action="condomesticadd.xhtml" class="btn btn-info" />
				&nbsp; &nbsp;
				<h:commandButton id="addInternational" value="Add Intl. Contact" action="coninternationaladd.xhtml" class="btn btn-info" />
				&nbsp; &nbsp;
	        	<h:commandButton id="viewAll" value="View All" action="#{contactSearch.searchAll()}" class="btn btn-info" >
	                <f:param name="contactID" value="#{status.index + 1}"/>
	            </h:commandButton>
	            &nbsp; &nbsp;
	            <h:commandButton id="viewCoutnry" value="Modify Country List" action="countrydetail.xhtml" class="btn btn-secondary" />
	            
        	</div>
        	
        	<div>
        		<h:outputText id="test" binding="#{contactRemove.component}"/>
				<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
        	</div>        	
        	
        	<br/>
       	</h:form>
        	
       	<h:form id="MyForm3">
        	<div>
        		
        		<h:inputText value="#{contactSearch.contactId}" 
        		id="searchById" required="true"
        		onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "  />
        		&nbsp;
        		<h:commandButton id="searchId" value="Search by Id" 
        		action="#{contactSearch.searchContactById(contactSearch.contactId)}" 
        		class="btn btn-info" >
                    <f:param name="contactID" value="#{status.index + 1}"/>
                </h:commandButton>
                &nbsp; &nbsp;
            </div>
        	<br/>
       	</h:form>
        	
        <h:form id="MyForm4">
        	<div>
                <h:selectOneMenu id="customer" value="#{customerSearch.searchByInt}" >
	                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
	                <f:selectItems value="#{customerApplication.getCustomers()}" var="c"
	                                itemLabel="#{c.customerName}" itemValue="#{c.customerId}" />
	            </h:selectOneMenu>
	            &nbsp;
	            <h:commandButton id="searchByCustomer" value="Search by Customer" 
	            action="#{contactSearch.searchContactByCustomerId(customerSearch.searchByInt)}" 
	            class="btn btn-info" >
	                <f:param name="contactID" value="#{status.index + 1}"/>
	            </h:commandButton>
                
        	</div>
        	<br/>
       	
       	</h:form>
        	
        <h:form id="MyForm5">

        	<div>
        		<h:selectOneMenu id="position" value="#{contactSearch.position}" >
	                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
	                <f:selectItems value="#{contactManagedBean.allPosition}" var="c"
	                                itemLabel="#{c}" itemValue="#{c}" />
	            </h:selectOneMenu>
        		&nbsp;
        		<h:selectOneMenu id="preference" value="#{contactSearch.preference}">
                        <f:selectItem itemValue="#{null}" itemLabel="--select--" /> <!-- noSelectionOption="true" -->
                        <f:selectItem itemValue="ContactByEmail" itemLabel="ContactByEmail" />
                        <f:selectItem itemValue="ContactByPhone" itemLabel="ContactByPhone" />
                </h:selectOneMenu> 
	            &nbsp;	            
        		<h:commandButton id="searchByPreAndPos" value="Search by Position / Preference" 
	            action="#{contactSearch.searchContactsByPositionAndPreference(contactSearch.position, contactSearch.preference)}" 
	            class="btn btn-info" >
	                <f:param name="contactID" value="#{status.index + 1}"/>
	            </h:commandButton>   	
        	
        	</div>
        	
        </h:form>        
	
	</div>

</body> 
</html>
