<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Country Detail
	        </div>
        </div>
		<br />
	
		<h:form id="MyForm1">
			<div>
				<h:commandButton id="back" value="Go Back" 
					action="contactlist.xhtml" 
					class="btn btn-outline-secondary"/>
			</div>
			<br />
			
			<table class="table table-sm table-bordered ">
				<tr>
					<td width ="150" valign="top"><b>Country Name:</b></td>
					<td>#{webServiceBean.getCountryFromClient()}</td>
				
				</tr>	
			
			</table>
		</h:form>
		
		<h:form id="MyForm2">
			Enter a country name :
			<br /> 
			<h:inputText id="name" label="Name" size="32" 
				value="#{webServiceBean.country}" required="true"
				requiredMessage="You must enter a country name!"
				pt:placeholder="New Zealand">
			</h:inputText>
			&nbsp; &nbsp;
			<h:message for="name" 
	            class="#{!name.valid ? 'label label-warning' : 'none'}" 
	            style="color: red; font-family: 'New Century Schoolbook', serif;"/>
			
			<br /> 
			<br /> 
			
            <h:commandButton id="submit" value="Add" 
			action="#{webServiceBean.addCountry()}" 
			class="btn btn-outline-info"/>
			
			&nbsp; &nbsp;
			
			<h:commandButton id="submit2" value="Delete" 
				action="#{webServiceBean.removeCountryFromClient()}" 
				class="btn btn-outline-danger"/>
			
			<br/>

		
		</h:form>
	
	</div>
</body> 
</html>
