<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
    <script src="../resources/js/script.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</h:head> 
<body> 
	<div class="container">
		<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
      	<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
		    <a class="navbar-brand" href="#">
		    	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
		      	#{customerApplication.username} - Customer  List</a>
		    <div class="navbar-nav-scroll">
			   <ul class="navbar-nav bd-navbar-nav flex-row">
			      <li class="nav-item active"><a class="nav-link" href="#">Customer  &nbsp; &nbsp;</a></li>
			      <li class="nav-item"><a class="nav-link" href="contactlist.xhtml">Contact  &nbsp; &nbsp;</a></li>
			      <li class="nav-item"><a class="nav-link" href="stafflist.xhtml">User  </a></li>
			    </ul>
			</div>
			<a href="${pageContext.request.contextPath}/Assignment-war/logout" 
			class="btn btn-outline-light btn-sm my-2 my-sm-0"
			onclick="if (!confirm('Are you sure to log out?')) return false;">
			Logout</a>  
		</div>
		
		<br/>
        
        <h:form id="MyForm1">

        	<table id="MyTable1" class="table table-sm table-bordered table-striped">
        		<!-- For each customer in ArrayList... -->
        		<!-- column name -->
        		<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="Name" value="Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Address" value="Address"/>
                    </td>
                    <td>
                        <h:outputLabel id="Option" value="Option"/>
                    </td>

        		</tr>
        	
				<!-- table content -->
        		<ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status">

	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                    <td>
	                        <h:outputText id="customerID" value="#{customerApplication.customers.get(status.index).customerId}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outName" value="#{customerApplication.customers.get(status.index).customerName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"/>
	                    </td>

						<!-- FUNCTION FOR EACH CUSTOMER -->
	                    <td>
	                        <h:link value="View" outcome="customerdetail.xhtml" class="btn btn-outline-info btn-sm">
	                        <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="customerID" value="#{status.index + 1}"/>
	                        </h:link>
							&nbsp;
	                        <h:link value="Edit" outcome="customeredit.xhtml" class="btn btn-outline-info btn-sm">
	                        <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="customerID" value="#{status.index + 1}"/>
	                        </h:link>
	                        &nbsp;
	                        <h:commandLink value="Delete" class="btn btn-outline-danger btn-sm"
	                        action="#{customerRemove.customerRemove(customerApplication.customers.get(status.index).customerId)}" 
	                        disabled="#{customerApplication.customers.get(status.index).customerId == null}"
	                        onclick="if (!confirm('Are you sure to delete it? \nAll related Contacts will also be deleted!')) return false;">
                            </h:commandLink>
	                        
	                        <h:outputText value=" "/>
	                    </td>
	
	                </tr>

                </ui:repeat>
        	
        	</table>
        	
	
        	<!-- GENERAL FUNCTION : add / search /...... -->
        	<div>
        		<h:commandButton id="add" value="Add" action="customeradd.xhtml" class="btn btn-info" />
				&nbsp; &nbsp;
	        	<h:commandButton id="viewAll" value="View All" action="#{customerSearch.searchAll()}" class="btn btn-info" >

	            </h:commandButton>

	            &nbsp; &nbsp;
				<button onclick="myFunction()" class="btn btn-info">Count</button>
            	<p id="countResult"></p>	            
	            
        	</div>
        	
        	<div>
        		<!-- https://stackoverflow.com/questions/5288267/how-to-add-a-message-to-a-specific-component-from-jsf-backing-bean -->
				<h:outputText id="test" binding="#{customerRemove.component}"/>
				<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
        	</div>
        	
        	<br/>
        	
       	 </h:form>
       	 <h:form id="MyForm2">
       	 
        	<div>
        		
        		<h:inputText value="#{customerSearch.searchByInt}" 
        		id="searchById" required="true"
        		onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "  />
        		&nbsp;
        		<h:commandButton id="searchId" value="Search by Id" 
        		action="#{customerSearch.searchCustomerById(customerSearch.searchByInt)}" 
        		class="btn btn-info" >
                    <f:param name="customerID" value="#{status.index + 1}"/>
                </h:commandButton>
                &nbsp; &nbsp;
              
            </div>
        	
        	<br/>
       	 </h:form>
       	 <h:form id="MyForm3">
        		
        	<div>  
                <h:selectOneMenu id="contact" value="#{contactSearch.contactId}" >
	                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
	                <f:selectItems value="#{contactApplication.getContacts()}" var="c"
	                                itemLabel="#{c.name}" itemValue="#{c.contactId}" />
	            </h:selectOneMenu>
	            &nbsp;
	            <h:commandButton id="searchByContact" value="Search by Contact" 
	            action="#{customerSearch.searchCustomerByContactId(contactSearch.contactId)}" 
	            class="btn btn-info" >
	                <f:param name="customerID" value="#{status.index + 1}"/>
	            </h:commandButton>
                
        	</div>
        	
        	<br/>
       	 </h:form>
       	 <h:form id="MyForm4">
        		
        	<div>
        		<h:selectOneMenu id="industry" value="#{industrySearch.industryId}" >
	                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
	                <f:selectItems value="#{industryManagedBean.allIndustries}" var="c"
	                                itemLabel="#{c.industryType}" itemValue="#{c.industryId}" />
	            </h:selectOneMenu> 
	            &nbsp;
	            <h:inputText value="#{customerSearch.yearRegistered}" 
        		id="searchByYear"
        		pt:placeholder="Year Registered"
        		onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "  />
        		&nbsp;
        		<h:commandButton id="searchByYearAndIndustry" value="Search by Industry / Year" 
	            action="#{customerSearch.searchCustomerByYearAndIndustry(customerSearch.yearRegistered, industrySearch.industryId)}" 
	            class="btn btn-info" >
	                <f:param name="customerID" value="#{status.index + 1}"/>
	            </h:commandButton>   	
        	
        	</div>

        </h:form>
	
	</div>
</body> 
</html>
