<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
</h:head> 
	
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Customer Detail
	        </div>
        </div>
		<br/>
		<h:form id="MyForm1">
			<table class="table table-sm table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "customerId" >#{customerController.customer.customerId}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">Name:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "customerName" >#{customerController.customer.customerName}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">Address:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "address" >#{customerController.customer.address}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">Industry:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "industry" >#{customerController.customer.industry.toString()}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">Year Registered:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "yearRegistered" >#{customerController.customer.yearRegistered}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">Quantity Ordered:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "quantityOrdered" >#{customerController.customer.quantityOrdered}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">No of Employee:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "noOfEmployee" >#{customerController.customer.noOfEmployee}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">Credit Rating:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "creditRating" >#{customerController.customer.creditRating}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="100" valign="top">Staff Assigned:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "staff" >#{customerController.customer.staff.username}</h:outputLabel>
                    </td>			
				</tr>
				
								
			</table>
			
			<p>Contacts:</p>
			
			<table class="table table-sm table-bordered ">
				<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="FirstName" value="First Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="LastName" value="Last Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Email" value="Email"/>
                    </td>
                    <td>
                        <h:outputLabel id="PhoneNo" value="PhoneNo"/>
                    </td>

        		</tr>
			
				<ui:repeat id="Myrepeat" value="#{customerController.customer.getContactsList()}"  var="contact" varStatus="status">

	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                    <td>
	                        <h:outputText id="contactID" value="#{customerController.customer.getContactsList().get(status.index).contactId}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outFirstName" value="#{customerController.customer.getContactsList().get(status.index).firstName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outLastName" value="#{customerController.customer.getContactsList().get(status.index).lastName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outEmail" value="#{customerController.customer.getContactsList().get(status.index).email}"/>
	                    </td>	                    
	                    <td>
	                        <h:outputText id="outPhoneNo" value="#{customerController.customer.getContactsList().get(status.index).phoneNo}"/>
	                    </td>							
	
	                </tr>

                </ui:repeat>
			
			</table>
			
			
			
			
			<h:link id="close" value="Close" outcome="customerlist.xhtml" class="btn btn-info" />
		
		</h:form>
	
	
	
	</div>
</body> 
</html>
