<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
    <script src="../resources/js/script.js"></script>
</h:head> 
<body> 
	<div class="container">
		<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
		<div class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		      	#{customerApplication.username} - Industry  List</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="customerlist.xhtml">Customer</a></li>
		      <li><a href="contactlist.xhtml">Contact</a></li>
		      <li class="active"><a href="#">Industry</a></li>
		      <li><a href="stafflist.xhtml">User</a></li>
		    </ul>
		  </div>
		</div>
        
        <h:form id="MyForm1">
        	
        	<table id="MyTable1" class="table table-bordered table-striped">
        		<!-- For each element in ArrayList... -->
        		<!-- column name -->
        		<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="IndustryType" value="Industry Type"  />
                    </td>

        		</tr>
        	
				<!-- table content -->
        		<ui:repeat id="Myrepeat" value="#{industryApplication.industries}"  var="industries" varStatus="status">

	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                    <td>
	                        <h:outputText id="industryID" value="#{industryApplication.industries.get(status.index).industryId}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outIndustryType" value="#{industryApplication.industries.get(status.index).industryType}"  />
	                    </td>

						<!-- FUNCTION FOR EACH element -->
	                    <td>	
	                        <h:link value="Edit | " outcome="industryedit.xhtml">
	                        <!-- pass the parameter to next page, the param name is industryID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="industryID" value="#{status.index + 1}"/>
	                        </h:link>
	                        
	                        <h:commandLink value="Delete" 
	                        action="#{industryRemove.industryRemove(industryApplication.industries.get(status.index).industryId)}" 
	                        disabled="#{industryApplication.industries.get(status.index).industryId == null}"
	                        onclick="if (!confirm('Are you sure to delete it? \nAll related Customers and Contacts will also be deleted!')) return false;">
                            </h:commandLink>
	                        
	                        <h:outputText value=" "/>
	                    </td>
	
	                </tr>

                </ui:repeat>
        	
        	</table>
        	
        	
        	
        	<!-- GENERAL FUNCTION : add / search /...... -->
        	<div>
        		<h:commandButton id="add" value="Add" action="industryadd.xhtml" class="btn btn-primary" />
				&nbsp; &nbsp;
	        	<h:commandButton id="viewAll" value="View All" action="#{industrySearch.searchAll()}" class="btn btn-primary" >
	                <f:param name="industryID" value="#{status.index + 1}"/>
	            </h:commandButton>
	             &nbsp; &nbsp;
				<button onclick="myFunction()" class="btn btn-primary">Count</button>
	            
        	</div>
        	
        	<div>
        		<h:outputText id="test" binding="#{industryRemove.component}"/>
				<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
        	</div>        	
        	
        	<br/>
        	
        	<div>
        		
                
        	</div>
        	
        </h:form>
	
	</div>
</body> 
</html>
