<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Industry Editor
	        </div>
        </div>
		
		<h:form id="MyForm1">
			<table class="table table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "industryId" >#{industryController.industry.industryId}</h:outputLabel>
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">Industry Type:</td>
                    <td valign="bottom">
                        <h:inputText id = "industryType" 
                        value="#{industryController.industry.industryType}" 
                        binding="#{industryType}" required="true"
                        validatorMessage="Please enter a valid Industry Type."
                        requiredMessage="Please enter an Industry Type. "
                        pt:placeholder="Construction">
                        </h:inputText>
                        <br/>
                        <h:message for="industryType" 
                        class="#{!industryType.valid ? 'label label-warning' : 'none'}" />
                        
                    </td>			
				</tr>
				
			</table>
			
			<p>If all inputs are valid, it will redirect to "Industry List" page once clicking "Save" button.</p>
			
			<h:commandButton id="save" value="Save and Close" actionListener="#{industryManagedBean.editIndustry(industryController.industry)}"  
			class="btn btn-primary" action="industrylist?faces-redirect=true" onclick="this.disabled = true;">
                <f:param name="industryID" value="#{industryController.industryID+1}"/>
            </h:commandButton>

			<h:link id="close" value="Close" outcome="industrylist.xhtml" class="btn btn-primary" style="float:right"/>
			
			<br/>
			<br/>
			<!-- https://stackoverflow.com/questions/5288267/how-to-add-a-message-to-a-specific-component-from-jsf-backing-bean -->
			<h:outputText id="test" binding="#{industryManagedBean.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
			
			
		</h:form>
	
	
	
	</div>
</body> 
</html>
