<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Add Industry
	        </div>
        </div>
		
		<h:form id="MyForm1">
			<table class="table table-bordered ">
				
				<tr>
					<td width ="100" valign="top">Industry Type:</td>
                    <td valign="bottom">
                        <h:inputText id = "industryType" 
                        value="#{industryBean.industryType}" 
                        title="industryType"
                        required="true"
                        validatorMessage="Please enter a valid Industry Type."
                        requiredMessage="Please enter an Industry Type. "
                        pt:placeholder="Construction">
                        </h:inputText>
                        <br/>
                        <h:message for="industryType" 
                        class="#{!industryType.valid ? 'label label-warning' : 'none'}" />
                        
                    </td>			
				</tr>
				
			</table>
			
			<p>If all inputs are valid, it will redirect to "Industry List" page once clicking "Submit" button.</p>
			
			<h:commandButton id="submit" value="Submit and Close"
			actionListener="#{industryAdd.industryAdd(industryBean)}"
			action="industrylist?faces-redirect=true"
			class="btn btn-primary" />

			<h:link id="close" value="Close" 
			outcome="industrylist.xhtml" class="btn btn-primary" style="float:right"/>
			
			<br/>
			<br/>
        	<h:outputText id="test" binding="#{industryAdd.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>

		</h:form>
	</div>
</body> 
</html>
