<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
    <script src="../resources/js/script.js"></script>
</h:head> 
<body> 

	<div class="container">
		
		<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
		    <a class="navbar-brand" href="#">
		    	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
		      	#{customerApplication.username} - User  List</a>
		    <div class="navbar-nav-scroll">
			   <ul class="navbar-nav bd-navbar-nav flex-row">
			      <li class="nav-item"><a class="nav-link" href="customerlist.xhtml">Customer  &nbsp; &nbsp;</a></li>
			      <li class="nav-item"><a class="nav-link" href="contactlist.xhtml">Contact  &nbsp; &nbsp;</a></li>
			      <li class="nav-item active"><a class="nav-link" href="#">User  </a></li>
			    </ul>
			</div>
			<a href="${pageContext.request.contextPath}/Assignment-war/logout" 
			class="btn btn-outline-light btn-sm my-2 my-sm-0"
			onclick="if (!confirm('Are you sure to log out?')) return false;">
			Logout</a>  
		</div>
		
		<br/>
		
        <h:form id="MyForm1">
        	
        	<table id="MyTable1" class="table table-sm table-bordered table-striped">
        		<!-- For each element in ArrayList... -->
        		<!-- column name -->
        		<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="username" value="User Name"  />
                    </td>

        		</tr>
        	
				<!-- table content -->
        		<ui:repeat id="Myrepeat" value="#{staffApplication.staffs}"  var="staffs" varStatus="status">

	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                    <td>
	                        <h:outputText id="staffID" value="#{staffApplication.staffs.get(status.index).id}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outUsername" value="#{staffApplication.staffs.get(status.index).username}"  />
	                    </td>

						<!-- FUNCTION FOR EACH element -->
	                    <td>	
	                        <h:link value="Edit" outcome="staffedit.xhtml" class="btn btn-outline-info btn-sm">
	                        <!-- pass the parameter to next page, the param name is staffID, and the value is index + 1.
	                        You can get the value from next page using the indexController -->
	                        <f:param name="staffID" value="#{status.index + 1}"/>
	                        </h:link>
	                        
	                        <h:outputText value=" "/>
	                    </td>
	
	                </tr>

                </ui:repeat>
        	
        	</table>
        	
        	<!-- GENERAL FUNCTION : add / search /...... -->
        	<div>

	        	<h:commandButton id="viewAll" value="View All" actionListner="#{staffManagedBean.setDisableButton()}" 
	        	action="#{staffSearch.searchAll()}" class="btn btn-info" >
	                <f:param name="staffID" value="#{status.index + 1}"/>
	            </h:commandButton>

				&nbsp; &nbsp;
				<button onclick="myFunction()" class="btn btn-info">Count</button>
	            
        	</div>
        	
        	 
			
       	
        	
        	<div>
        		<h:outputText id="test" binding="#{staffRemove.component}"/>
				<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
        	</div>        	
        	
        	<br/>
        	
        	<div>
        		
                
        	</div>
        	
        </h:form>
	
	</div>
</body> 
</html>
