<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
	<script src="js/script.js"></script>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - User Editor
	        </div>
        </div>
		<br/>
		<h:form id="MyForm1">
			<table class="table table-sm table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "staffId" >#{staffController.staff.id}</h:outputLabel>
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">User Name:</td>
					<td valign="bottom">
                        <h:outputLabel id = "username" >#{staffController.staff.username}</h:outputLabel>
                    </td>	
				</tr>
				
				<tr>
					<td width ="100" valign="top">Password:</td>
                    <td valign="bottom">
                        <h:inputSecret id = "password" 
                        value="#{staffController.staff.password}" 
                        binding="#{password}" required="true"
                        validatorMessage="Please enter a valid password."
                        requiredMessage="Please enter an password. "
                        pt:placeholder="password">
                        </h:inputSecret>
                        <br/>
                        <h:message for="password" 
                        class="#{!password.valid ? 'label label-warning' : 'none'}"
                        style="color: red;font-family: 'New Century Schoolbook', serif;" />
                        
                    </td>			
				</tr>
				
				
			</table>

			<h:commandButton id="save" value="Save" actionListener="#{staffManagedBean.editStaff(staffController.staff)}"  
			class="btn btn-info" onclick="this.disabled = true;">
                <f:param name="staffID" value="#{staffController.staffID+1}"/>
            </h:commandButton>
            
			<h:link id="close" value="Close" outcome="stafflist.xhtml" class="btn btn-danger" style="float:right"/>

			<br/>
			<br/>
			<!-- https://stackoverflow.com/questions/5288267/how-to-add-a-message-to-a-specific-component-from-jsf-backing-bean -->
			<h:outputText id="test" binding="#{staffManagedBean.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
			
			<br/>
			<br/>
			
			
		</h:form>
	
	
	
	</div>
</body> 
</html>
