<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Contact Detail
	        </div>
        </div>
        
        <br/>
		
		<h:form id="MyForm">
			<table class="table table-sm table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactId" >#{conInternationalController.contact.contactId}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">First Name:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactFirstName" >#{conInternationalController.contact.firstName}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Last Name:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactLastName" >#{conInternationalController.contact.lastName}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Position:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "position" >#{conInternationalController.contact.position}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Email:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "email" >#{conInternationalController.contact.email}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Phone No:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "phoneNo" >#{conInternationalController.contact.phoneNo}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Preference:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "preference" >#{conInternationalController.contact.preference}</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Contact Type:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "type" >International</h:outputLabel>
                    </td>			
				</tr>
				<tr>
					<td width ="150" valign="top">Country:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "country" >#{conInternationalController.contact.country}</h:outputLabel>
                    </td>			
				</tr>
				
			</table>
			
			<p>Employed by:</p>
			
			<table class="table table-sm table-bordered ">
				<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="Name" value="Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Address" value="Address"/>
                    </td>

        		</tr>
        	
				<!-- table content -->
 				<tr>
                    <td>
                        <h:outputText id="customerID" value="#{conInternationalController.contact.customer.customerId}"/>
                    </td>
                    <td>
                        <h:outputText id="outName" value="#{conInternationalController.contact.customer.customerName}"  />
                    </td>
                    <td>
                        <h:outputText id="outAddress" value="#{conInternationalController.contact.customer.address}"/>
                    </td>
				</tr>
			</table>	
			
			
			
			<h:link id="close" value="Close" outcome="contactlist.xhtml" class="btn btn-info" />
		
		</h:form>
	
		
	
	</div>
</body> 
</html>

