<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
	        <div class="navbar-brand">
				#{customerApplication.username} - Contact Editor
	        </div>
        </div>
		
		<h:form id="MyForm1">
			<table class="table table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "contactId" >#{contactController.contact.contactId}</h:outputLabel>
                    </td>			
				</tr>
				
				<tr>
					<td width ="150" valign="top">First Name:</td>
                    <td valign="bottom">
                        <h:inputText id = "contactFirstName" 
                        value="#{contactController.contact.firstName}" 
                        binding="#{contactFirstName}" required="true"
                        validatorMessage="Please enter a valid First Name."
                        requiredMessage="Please enter an first Name. "
                        pt:placeholder="First Name">
                        </h:inputText>
                        <br/>
                        <h:message for="contactFirstName" 
                        class="#{!contactFirstName.valid ? 'label label-warning' : 'none'}" />
                        
                    </td>			
				</tr>
				
				<tr>
					<td width ="150" valign="top">Last Name:</td>
                    <td valign="bottom">                        
                        <h:inputText id = "contactLastName" 
                        value="#{contactController.contact.lastName}" 
                        binding="#{contactLastName}" required="true"
                        validatorMessage="Please enter a valid Last Name."
                        requiredMessage="Please enter an last Name. "
                        pt:placeholder="Last Name">
                        </h:inputText>
                        <br/>
                        <h:message for="contactLastName" 
                        class="#{!contactLastName.valid ? 'label label-warning' : 'none'}" />
                        
                    </td>			
				</tr>
				
				<tr>
                    <td width ="150" valign="top">Position: </td>
                    <td valign="bottom">
                        <h:inputText id = "position" 
                        value="#{contactController.contact.position}" 
                        binding="#{position}" required="true"
                        validatorMessage="Please enter a valid position name."
                        requiredMessage="Please enter an position name."
                        pt:placeholder="Manager">
                        </h:inputText>
                        <br/>
	                    <h:message for="position" 
	                    class="#{!position.valid ? 'label label-warning' : 'none'}" />
                    </td>
                    
                </tr>
                
                <tr>
                    <td width ="150" valign="top">Email: </td>
                    <td valign="bottom">
                        <h:inputText id = "email" 
                        value="#{contactController.contact.email}" 
                        binding="#{email}" required="true"
	                    validatorMessage="Please enter a valid email address."
	                    requiredMessage="Please enter an email address. "
	                    pt:placeholer="abc@example.com">
	                    	<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
	                    	<!-- https://stackoverflow.com/questions/7875108/email-validation-using-regular-expression-in-jsf-2-primefaces -->
	                    </h:inputText>
	                    <br/>
	                    <h:message for="email" 
	                    class="#{!email.valid ? 'label label-warning' : 'none'}" />
                    </td>                    
                </tr>
                
                
                <tr>
                    <td width ="150" valign="top">Phone No: </td>
                    <td valign="bottom">
                        <h:inputText id = "phoneNo" 
                        value="#{contactController.contact.phoneNo}" 
                        binding="#{phoneNo}" required="true"
						validatorMessage="Please enter a valid phoneNo."
						requiredMessage="Please enter an phoneNo. "
						converterMessage="Please enter a number"
						pt:placeholder="1234567890">
	                    	<f:convertNumber integerOnly="true"/>
	                    </h:inputText>
	                   
	                    <br/>
	                    <h:message for="phoneNo" 
	                    class="#{!phoneNo.valid ? 'label label-warning' : 'none'}" />
                    </td>                    
                </tr>
                
                <tr>
                    <td width ="150" valign="top">Preference: </td>
                    <td valign="bottom">                    	
                        <h:selectOneMenu id="preference" value="#{contactController.contact.preference}" 
                        required="true" requiredMessage="Please select an option.">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" /> <!-- noSelectionOption="true" -->
                                <f:selectItem itemValue="ContactByEmail" itemLabel="ContactByEmail" />
                                <f:selectItem itemValue="ContactByPhone" itemLabel="ContactByPhone" />
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="preference" class="#{!preference.valid ? 'label label-warning' : 'none'}"/>
                    </td>
                </tr>
                
				
			</table>
			
			<p>To edit the relevant customer, please go to Customer page.</p>
			
			<table class="table table-bordered ">
				<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="Name" value="Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Address" value="Address"/>
                    </td>

        		</tr>
        	
				<!-- table content -->
 				<tr>
                    <td>
                        <h:outputText id="customerID" value="#{contactController.contact.customer.customerId}"/>
                    </td>
                    <td>
                        <h:outputText id="outName" value="#{contactController.contact.customer.customerName}"  />
                    </td>
                    <td>
                        <h:outputText id="outAddress" value="#{contactController.contact.customer.address}"/>
                    </td>
				</tr>
			</table>
			
			
			
			<p>If all inputs are valid, it will redirect to "Contact List" page once clicking "Save" button.</p>
			
			<h:commandButton id="save" value="Save and Close" actionListener="#{contactManagedBean.editContact(contactController.contact)}"
			action="contactlist?faces-redirect=true" onclick="this.disabled = true;"  
			class="btn btn-primary" >
                <f:param name="contactID" value="#{contactController.contactID+1}" />
            </h:commandButton>

			<h:link id="close" value="Close" outcome="contactlist.xhtml" class="btn btn-primary" style="float:right"/>
			
			<br/>
			<br/>
			<!-- https://stackoverflow.com/questions/5288267/how-to-add-a-message-to-a-specific-component-from-jsf-backing-bean -->
			<h:outputText id="test" binding="#{contactManagedBean.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
			
			
		</h:form>
	
	
	
	</div>
</body> 
</html>
