<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<title>#{titleController.pageTitle}</title>
 	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <!-- https://stackoverflow.com/questions/29789449/how-to-show-only-years-in-the-view-of-datepicker -->
    <script type="text/javascript">
	    $(function() {
	        $('.date-picker-year').datepicker({
	            changeYear: true,
	            showButtonPanel: true,
	            dateFormat: 'yy',
	            yearRange: '1980:2020',
	            onClose: function(dateText, inst) { 
	                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
	                $(this).datepicker('setDate', new Date(year, 1));
	            }
	        });
	    	$(".date-picker-year").focus(function () {
	            $(".ui-datepicker-month").hide();
	        });
	    });
    </script>
    <style>
    	.ui-datepicker-calendar { display: none; }
    </style>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Customer Editor
	        </div>
        </div>
        <br />
		
		<h:form id="MyForm1">
			<table class="table table-sm table-bordered ">
				<tr>
					<td width ="150" valign="top">Id:</td>
                    <td valign="bottom">
                        <h:outputLabel id = "customerId" >#{customerController.customer.customerId}</h:outputLabel>
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">Name:</td>
                    <td valign="bottom">
                        <h:inputText id = "customerName" 
                        value="#{customerController.customer.customerName}" 
                        binding="#{customerName}" required="true"
                        validatorMessage="Please enter a valid customer Name."
                        requiredMessage="Please enter an customer Name. "
                        pt:placeholder="ABC Company">
                        </h:inputText>
                        <br/>
                        <h:message for="customerName"
                        class="#{!customerName.valid ? 'label label-warning' : 'none'}" 
                        style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>			
				</tr>
				
				<tr>
                    <td width ="100" valign="top">Street No: </td>
                    <td valign="bottom">
                        <h:inputText id = "streetNo" 
                        value="#{customerController.customer.address.streetNo}" 
                        binding="#{streetNo}" required="true"
                        validatorMessage="Please enter a valid street number larger than 1."
                        requiredMessage="Please enter an street number. "
                        converterMessage="Please enter a number"
                        pt:placeholder="900">
                        </h:inputText>
                        <br/>
	                    <h:message for="streetNo" 
	                    class="#{!streetNo.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>
                    
                </tr>
                
                <tr>
                    <td width ="100" valign="top">Street Name: </td>
                    <td valign="bottom">
                        <h:inputText id = "streetName" 
                        value="#{customerController.customer.address.streetName}" 
                        binding="#{streetName}" required="true"
	                    validatorMessage="Please enter a valid street name."
	                    requiredMessage="Please enter an street name. "
	                    pt:placeholder="College Way">
	                    </h:inputText>
	                    <br/>
	                    <h:message for="streetName" 
	                    class="#{!streetName.valid ? 'label label-warning' : 'none'}"
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>                    
                </tr>
                
                <tr>
                    <td width ="100" valign="top">District: </td>
                    <td valign="bottom">
                        <h:inputText id = "district" 
                        value="#{customerController.customer.address.district}" 
                        binding="#{district}" required="true"
                        validatorMessage="Please enter a valid district."
                        requiredMessage="Please enter a district. "
                        pt:placeholder="Clayton">
                        </h:inputText>
                        <br/>
	                    <h:message for="district" 
	                    class="#{!district.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                        
                    </td>
                </tr>
                
                
                <tr>
                    <td width ="100" valign="top">State: </td>
                    <td valign="bottom">
                        <h:inputText id = "state" 
                        value="#{customerController.customer.address.state}" 
                        binding="#{state}" 
                        required="true"
                        validatorMessage="Please enter a valid state."
                        requiredMessage="Please enter a state. "
                        pt:placeholder="Victoria">
                        </h:inputText>
                        <br/>
                        <h:message for="state" 
	                    class="#{!state.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>
                </tr>
                
                <tr>
                    <td width ="100" valign="top">Zip Code: </td>
                    <td valign="bottom">
                        <h:inputText id = "zipcode" 
                        value="#{customerController.customer.address.zipcode}" 
                        binding="#{zipcode}" 
                        required="true"
                        validatorMessage="Please enter a valid zip code between 1 and 9999."
                        requiredMessage="Please enter a zip code. "
                        converterMessage="Please enter a number"
                        pt:placeholder="3800">
                        	<f:convertNumber integerOnly="true" groupingUsed="false"/>
							<f:validateLongRange minimum="1" maximum="9999"/>
                        </h:inputText>
                        <br/>
                        <h:message for="zipcode" 
	                    class="#{!zipcode.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>
                </tr>
				
				<tr>
					<td width ="100" valign="top">Industry:</td>
                    <td valign="bottom">
                        <h:selectOneMenu id="industry" value="#{customerController.customer.industry.industryId}" 
                        required="true" requiredMessage="Please select an option.">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{industryManagedBean.allIndustries}"
										var="c" itemLabel="#{c.industryType}" itemValue="#{c.industryId}" />
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="industry"
                        class="#{!industry.valid ? 'label label-warning' : 'none'}"
                        style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                        
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">Year Registered:</td>
                    <td valign="bottom">
                        <h:inputText id = "yearRegistered" class="date-picker-year"
                        value="#{customerController.customer.yearRegistered}" 
                        binding="#{yearRegistered}" 
                        required="true"
                        validatorMessage="Please enter a year between 1980 and 2020."
                        requiredMessage="Please enter a year. "
                        converterMessage="Please enter a number"
                        pt:placeholder="2010">
                        	<f:convertNumber integerOnly="true" groupingUsed="false"/>
							<f:validateLongRange minimum="1980" maximum="2020"/>
                        </h:inputText>
                        <br/>
                        <h:message for="yearRegistered" 
	                    class="#{!yearRegistered.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">Quantity Ordered:</td>
                    <td valign="bottom">
                        <h:inputText id = "quantityOrdered" 
                        value="#{customerController.customer.quantityOrdered}" 
                        binding="#{quantityOrdered}" 
                        required="true"
                        validatorMessage="Please enter a number of quantity not smaller than 0."
                        requiredMessage="Please enter a number of quantity. "
                        converterMessage="Please enter a number"
                        pt:placeholder="30">
                        	<f:convertNumber integerOnly="true" groupingUsed="false"/>
							<f:validateLongRange minimum="0"/>
                        </h:inputText>
                        <br/>
                        <h:message for="quantityOrdered" 
	                    class="#{!quantityOrdered.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">No of Employee:</td>
                    <td valign="bottom">
                        <h:inputText id = "noOfEmployee" 
                        value="#{customerController.customer.noOfEmployee}" 
                        binding="#{noOfEmployee}" 
                        required="true"
                        validatorMessage="Please enter a number of employee not smaller than 0."
                        requiredMessage="Please enter a number of employee. "
                        converterMessage="Please enter a number"
                        pt:placeholder="20">
                        	<f:convertNumber integerOnly="true" groupingUsed="false"/>
							<f:validateLongRange minimum="0"/>
                        </h:inputText>
                        <br/>
                        <h:message for="noOfEmployee" 
	                    class="#{!noOfEmployee.valid ? 'label label-warning' : 'none'}" 
	                    style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                        
                        
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">Credit Rating:</td>
                    <td valign="bottom">
                        <h:selectOneMenu id="creditRating" value="#{customerController.customer.creditRating}" 
                         required="true" requiredMessage="Please select an option.">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItem itemValue="High" itemLabel="High" />
                                <f:selectItem itemValue="Medium" itemLabel="Medium" />
                                <f:selectItem itemValue="Low" itemLabel="Low" />
                        </h:selectOneMenu>
 						<br/>
                        <h:message for="creditRating" class="#{!creditRating.valid ? 'label label-warning' : 'none'}"
                        style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">Staff Assigned:</td>
                    <td valign="bottom">
	                    <h:selectOneMenu id="staff1" value="#{customerController.customer.staff.id}" 
                        required="true" requiredMessage="Please select an option.">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{staffManagedBean.allStaffs}"
										var="c" itemLabel="#{c.username}" itemValue="#{c.id}" />
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="staff1" class="#{!staff.valid ? 'label label-warning' : 'none'}"
                        style="color: red; font-family: 'New Century Schoolbook', serif;"/>
                        You can de-assign the staff in the customer list page later.
                    </td>			
				</tr>
			
				
			</table>
			
			<p>To edit the relevant contacts, please go to Contact page.</p>
			
			<table class="table table-sm table-bordered ">
				<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="FirstName" value="First Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="LastName" value="Last Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Email" value="Email"/>
                    </td>
                    <td>
                        <h:outputLabel id="PhoneNo" value="PhoneNo"/>
                    </td>

        		</tr>
			
				<ui:repeat id="Myrepeat" value="#{customerController.customer.getContactsList()}"  var="contact" varStatus="status">

	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                    <td>
	                        <h:outputText id="contactID" value="#{customerController.customer.getContactsList().get(status.index).contactId}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outFirstName" value="#{customerController.customer.getContactsList().get(status.index).firstName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outLastName" value="#{customerController.customer.getContactsList().get(status.index).lastName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outEmail" value="#{customerController.customer.getContactsList().get(status.index).email}"/>
	                    </td>	                    
	                    <td>
	                        <h:outputText id="outPhoneNo" value="#{customerController.customer.getContactsList().get(status.index).phoneNo}"/>
	                    </td>							
	
	                </tr>

                </ui:repeat>
			
			
			
			</table>
			
			
			<p>If all inputs are valid, it will redirect to "Customer List" page once clicking "Save" button.</p>
			
			<h:commandButton id="save" value="Save and Close" actionListener="#{customerManagedBean.editCustomer(customerController.customer)}" 
			action="customerlist?faces-redirect=true" onclick="this.disabled = true;" 
			class="btn btn-info" >
                <f:param name="customerID" value="#{customerController.customerID+1}"/>
            </h:commandButton>

			<h:link id="close" value="Close" outcome="customerlist.xhtml" class="btn btn-info" style="float:right"/>
			
			<br/>
			<br/>
			<!-- https://stackoverflow.com/questions/5288267/how-to-add-a-message-to-a-specific-component-from-jsf-backing-bean -->
			<h:outputText id="test" binding="#{customerManagedBean.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
			
		
		</h:form>
	
	
	
	</div>
</body> 
</html>
