<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
    <script src="js/script.js"></script>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
				#{customerApplication.username} - Add User
	        </div>
        </div>
        
        <br/>
		
		<h:form id="MyForm1">
			<table class="table table-sm table-bordered ">
				
				<tr>
					<td width ="100" valign="top">User Name:</td>
                    <td valign="bottom">
                        <h:inputText id = "username" 
                        value="#{staffBean.username}" 
                        title="username" required="true"
                        validatorMessage="Please enter a valid user name."
                        requiredMessage="Please enter an user name. "
                        pt:placeholder="normal user">
                        </h:inputText>
                        <br/>
                        <h:message for="username" 
                        class="#{!username.valid ? 'label label-warning' : 'none'}"
                        style="color: red;font-family: 'New Century Schoolbook', serif;" />
                        
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">Password:</td>
                    <td valign="bottom">
                        <h:inputSecret id = "password"
                        value="#{staffBean.password}" 
                        title="password" required="true"
                        validatorMessage="Please enter a valid password."
                        requiredMessage="Please enter an password. "
                        pt:placeholder="password">
                        </h:inputSecret>
                        <br/>
                        <h:message for="password" 
                        class="#{!password.valid ? 'label label-warning' : 'none'}"
                        style="color: red;font-family: 'New Century Schoolbook', serif;" />
                        
                    </td>			
				</tr>
				
				<tr>
					<td width ="100" valign="top">User Type:</td>
                    <td valign="bottom">NORMAL</td> 			
				</tr>
				
			</table>
			
			
			<h:commandButton id="submit" value="Submit"
			actionListener="#{staffAdd.staffAdd(staffBean)}"
			class="btn btn-info">
			</h:commandButton>

			<h:link id="close" value="Close" 
			outcome="stafflist.xhtml" class="btn btn-danger" style="float:right"/>
			
			<br/>
			<br/>
        	<h:outputText id="test" binding="#{staffAdd.component}"/>
			<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
			
			<br/>
			<br/>
			
			
		</h:form>
		
	</div>
	
	
</body> 
</html>
