<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
    <script src="../resources/js/script.js"></script>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
		    <a class="navbar-brand" href="#">
		    	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
		      	#{customerApplication.username} - Customer List</a>
		</div>
		
		<br/>
        
		<h:form id="MyForm1">
			<p>Customers assign to: #{staffController.staff.username}</p>
			
			<table class="table table-sm table-bordered ">
				<tr>
        			<td>
                        <h:outputLabel id="Id" value="Id"  />
                    </td>
                    <td>
                        <h:outputLabel id="Name" value="Name"  />
                    </td>
                    <td>
                        <h:outputLabel id="Address" value="Address"/>
                    </td>

        		</tr>
			
				<ui:repeat id="Myrepeat" value="#{staffController.getCustomers()}"  var="customer" varStatus="status">
	                <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
	                	<td>
                        <h:outputText id="customerID" value="#{staffController.getCustomers().get(status.index).customerId}"/>
	                    </td>
	                    <td>
	                        <h:outputText id="outName" value="#{staffController.getCustomers().get(status.index).customerName}"  />
	                    </td>
	                    <td>
	                        <h:outputText id="outAddress" value="#{staffController.getCustomers().get(status.index).address}"/>
	                    </td>			
	
	                </tr>

                </ui:repeat>
			
			</table>
			
			<div>
        		To view customers' details, please go to Customer page.
        	</div>
			
			<h:link id="close" value="Close" outcome="stafflist.xhtml" class="btn btn-info" />
			
			<div>
        		<h:outputText id="test" binding="#{customerManagedBean.component}"/>
				<h:message for="test" infoClass="info" globalOnly ="true" style="color:blue"/>
        	</div>   
		
		</h:form>
	
	</div>
</body> 
</html>
