<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <!-- <title>#{titleController.pageTitle}</title> -->
    <title>Error - EasySales CRM</title>
</h:head> 

<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
	            <!-- #{titleController.pageTitle} - Property  List -->
	            EasySales CRM - Error Page
	        </div>
        </div>
        <br/>
        
        <div style="text-align:center">			
        	<h1>Authentication Error</h1>

			<p>Sorry, you don't have access to this area</p>
		    <p>Please try the other options in <a href="http://localhost:8080/Assignment-war/">home page</a>.</p>

        </div>

	</div>



	
</body> 
</html>
