			<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <!-- <title>#{titleController.pageTitle}</title> -->
    <title>EasySales CRM</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info">
	        <div class="navbar-brand">
	        	<img src="resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
	            <!-- #{titleController.pageTitle} - Property  List -->
	            EasySales CRM - HOME
	        </div>
        </div>
        <br />
        <h:form id="MyForm1">
	
			<div style="text-align:center">
				<img src="resources/image/icons8-customer-100.png"></img>
				<br />
				<br />	
				<a href="faces/admin/customerlist.xhtml" class="btn btn-info">Login as an Administrator</a>
				<br />
				<br />			
				<a href="faces/normal/customerlist.xhtml" class="btn btn-info">Login as a Normal User</a>		
			</div>
			
		
		</h:form>
        
	</div>
	
	
	
	
	
	
	
</body> 
</html>
