<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <!-- <title>#{titleController.pageTitle}</title> -->
    <title>EasySales CRM</title>
</h:head>
<h:body>

	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
	            <!-- #{titleController.pageTitle} - Property  List -->
	            EasySales CRM - User Authentication
	        </div>
        </div>
	
	</div>

	<br/>
	
	<form method="post" action="j_security_check">
		<div style="text-align:center">
			<img src="../resources/image/icons8-customer-100.png"></img>
			<br />
			<br />	
			<label for="j_username">Username:</label>
			<input type="text" name="j_username" />
			
			<br/>
			<br/>
			
			<label for="j_password">Password:</label>
			<input type="password" name="j_password" />
			
			<br/>
			<br/>
			<input type="submit" value="Submit" class="btn btn-info"/>
			&nbsp; &nbsp;
			<a href="http://localhost:8080/Assignment-war/" class="btn btn-outline-info">Go Back</a>
		</div>
	</form>
	
	<script>
		function validateForm() {
	        var un = document.loginform.j_username.value;
	        window.localStorage.setItem('username',j_username);
        }
	</script>
	
</h:body> 
</html>
