<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <!-- <title>#{titleController.pageTitle}</title> -->
    <title>Logout - EasySales CRM</title>
</h:head> 

<body> 
	<div class="container">
		<div class="navbar navbar-dark bg-info flex-column flex-md-row bd-navbar">
	        <div class="navbar-brand">
	        	<img src="../resources/image/icons8-member-50.png" width="25" height="25" alt=""></img>
	            <!-- #{titleController.pageTitle} - Property  List -->
	            EasySales CRM - Log out
	        </div>
        </div>
        <br/>
        <div style="text-align:center">
        	<img src="resources/image/icons8-customer-100.png"></img>
			<br />
			<br />	
        	<h1>You successfully logged out</h1>

		    <p>You can go back to  <a href="http://localhost:8080/Assignment-war/">home page</a>.</p>

        </div>

	</div>



	
</body> 
</html>
